/* Slider styles */
.slick-slider {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.slick-track, .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  font-size: 1.25rem;
  font-weight: bold; }
  .slick-dots button {
    width: 1.25rem;
    height: 5px;
    font-size: 0;
    border: none;
    border-radius: 5px;
    -webkit-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s; }
  .slick-dots li {
    margin: 0 5px;
    list-style: none; }
  .slick-dots button:hover, .slick-dots .slick-active button {
    background-color: #fc6f4e; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer; }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 9999px !important;
  margin-right: auto;
  margin-left: auto; }
  .slick-track::before, .slick-track::after {
    display: table;
    content: ""; }
  .slick-track::after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  text-align: left; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-slide .slick-initialized {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 100;
  width: 3rem;
  height: 3rem;
  padding: 0;
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 50%;
  outline: none;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: color 0.5s ease 0s , background-color 0.5s ease 0s;
  transition: color 0.5s ease 0s , background-color 0.5s ease 0s; }
  .slick-arrow:hover, .slick-arrow:focus {
    color: white;
    background-color: #fc6f4e;
    outline: none; }
  .slick-arrow::after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900; }

.slick-prev {
  left: -1.75rem; }
  .slick-prev::after {
    content: "\f053"; }

.slick-next {
  right: -1.75rem; }
  .slick-next::after {
    content: "\f054"; }

.slick-prev_related {
  right: 5rem; }

.slick-next_related {
  right: 2.25rem; }

html {
  font-size: 16px; }

body {
  font-family: "Open Sans", sans-serif;
  color: #626262;
  background-color: white;
  -webkit-font-smoothing: antialiased; }

b {
  font-weight: bold; }

a {
  color: inherit;
  text-decoration: none; }

h1 {
  font-size: 3.125rem; }

h2 {
  font-size: 1.875rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

h1, h2, h3 {
  text-transform: capitalize; }

.section_gray {
  background-color: #fbfbfb; }

.section-width-holder, .section-width-holder_padding-bottom {
  width: 71.125rem;
  margin: 0 auto; }
  .section-width-holder_padding-bottom {
    padding-bottom: 11.25rem; }

.section-name-holder {
  width: 46.875rem;
  padding: 9rem 0 7.125rem;
  margin: 0 auto; }

.section-info-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset; }

.section__title, .section__text {
  width: 100%;
  text-align: center; }

.section__title {
  font-weight: 600; }
  .section__title span:first-child {
    margin-right: 0.5rem;
    color: #fc6f4e; }

.section__text {
  padding: 1rem 0; }

.item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.btn, .btn_process {
  border: 2px solid #c7c7c7;
  border-radius: 3.5rem;
  padding: 1rem;
  color: #626262;
  background-color: white;
  -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
  transition: -webkit-box-shadow 0.5s ease 0s;
  transition: box-shadow 0.5s ease 0s;
  transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s; }
  .btn:hover, .btn_process:hover {
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25); }
  .btn_process {
    position: absolute;
    bottom: -1.75rem;
    left: 50%;
    right: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 86%; }
  .btn_menu {
    position: relative;
    width: 50px;
    z-index: 3;
    display: block;
    height: 50px; }
    .btn_menu span {
      position: absolute;
      top: 50%;
      margin-top: -5px;
      width: 100%;
      height: 5px;
      background-color: #706b73;
      -webkit-transition: background-color 0.5s ease 0s;
      transition: background-color 0.5s ease 0s; }
      .btn_menu span::before {
        position: absolute;
        top: 50%;
        margin-top: -5px;
        width: 100%;
        height: 5px;
        background-color: #706b73;
        content: '';
        display: block;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px); }
      .btn_menu span::after {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 4px;
        background-color: #706b73;
        content: '';
        display: block;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        -webkit-transform: translateY(10px);
        transform: translateY(10px); }
    .btn_menu:hover span, .btn_menu:hover span::before, .btn_menu:hover span::after {
      background-color: #fc6f4e; }
    .btn_menu_active span {
      height: 0; }
      .btn_menu_active span:before {
        margin-top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: center;
        transform-origin: center; }
      .btn_menu_active span:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: center;
        transform-origin: center; }
  .btn_form {
    width: 88%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    border: none;
    border-radius: 3.5rem;
    background-color: #fc6f4e;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .btn_form .fas {
      margin-left: 1rem; }

.form_contact {
  width: 23.3125rem;
  background-color: white;
  padding: 1rem 2rem;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25); }

.input_custom {
  width: 100%;
  border: none;
  border-bottom: 2px solid #c7c7c7;
  padding-top: 2rem; }

.textarea_custom {
  height: 7rem;
  margin-bottom: 1rem; }

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset; }

.social-item {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  color: white;
  background-color: #c7c7c7;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s; }
  .social-item:hover {
    background-color: #fc6f4e; }

.social-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header {
  width: 100%;
  color: inherit;
  background-color: none; }
  .header .header-holder {
    width: 100%;
    min-height: 7rem;
    padding: 0.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fbfbfb;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25); }

.logo {
  padding: 0.5rem 1rem;
  font-size: 2.375rem;
  font-weight: 600;
  color: inherit;
  background-color: none;
  border: 5px solid #706b73;
  -webkit-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s; }
  .logo::first-letter {
    color: #fc6f4e; }
  .logo:hover {
    color: #fc6f4e; }

.welcome-section {
  background-color: #f5f5f5; }

.process-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset; }

.process-item, .process-item_1, .process-item_2, .process-item_3, .process-item_4 {
  position: relative;
  width: 23.5%;
  padding: 3.4375rem 2rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .process-item .fas, .process-item_1 .fas, .process-item_2 .fas, .process-item_3 .fas, .process-item_4 .fas {
    font-size: 3rem; }

.process__title {
  padding-top: 1rem; }

.process-item_1 {
  background-color: #4eb2f7; }

.process-item_2 {
  background-color: #c049f8; }

.process-item_3 {
  background-color: #817eff; }

.process-item_4 {
  background-color: #f74770; }

.works-list {
  margin: 0 -2rem -2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset; }

.works-item {
  min-width: 30%;
  height: 22.5rem;
  margin: 0 2rem 2rem 0;
  background-color: #ff5c36; }

.works__link {
  display: block;
  height: 100%; }

.services-item {
  width: 6.125rem;
  height: 5.8125rem;
  margin-bottom: 0.5rem;
  background-color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
  transition: -webkit-box-shadow 0.5s ease 0s;
  transition: box-shadow 0.5s ease 0s;
  transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s; }
  .services-item:hover {
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25); }

.services-description-holder {
  padding: 0 6.125rem 0 7.875rem; }

.services-description__title {
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem; }
  .services-description__title::after {
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 4px;
    content: '';
    background-color: #fc6f4e; }

.services-description__text {
  margin-bottom: 2rem; }

.services-img-holder {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.team-list {
  margin: 0 -2rem -2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset; }

.team-item {
  position: relative;
  min-width: 30%;
  height: 27.875rem;
  padding-bottom: 1rem;
  margin: 0 2rem 2rem 0;
  background-color: #ff5c36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s; }
  .team-item:hover {
    background-color: #fff3f0; }
    .team-item:hover .team-item-info {
      position: unset;
      left: 0;
      width: 100%;
      background-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transform: none;
      transform: none; }
    .team-item:hover .team-item__position {
      color: #fc6f4e; }
    .team-item:hover .team-item-skills-list {
      display: block; }
  .team-item-skills-list {
    display: none;
    width: 9.5rem; }
  .team-item-skills-item {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-size: 11px;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 4px solid;
    border-image-source: linear-gradient(to right, #ff5c36 80%, #626262 20%);
    border-image-slice: 1; }
  .team-item-info {
    position: absolute;
    right: 0;
    bottom: -0.75rem;
    left: 50%;
    width: 86%;
    padding: 1rem;
    background-color: white;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .team-item__name, .team-item__position {
    width: 100%;
    text-align: center; }
  .team-item__name {
    padding-bottom: 1rem; }
  .team-item-socials-list {
    margin-right: -1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset; }
  .team-item-socials-item {
    margin-right: 1rem; }
    .team-item-socials-item:hover .fab {
      color: #ff5c36; }

.review-item {
  height: 20rem;
  padding-bottom: 1rem;
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.review-information-holder {
  position: relative;
  padding: 5.625rem 3.375rem 2.375rem;
  border: 2px solid #c7c7c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
  transition: -webkit-box-shadow 0.5s ease 0s;
  transition: box-shadow 0.5s ease 0s;
  transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s; }
  .review-information-holder:hover {
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25); }

.review-img-holder {
  position: absolute;
  z-index: 1;
  background-color: white;
  top: -3.1rem;
  right: 0;
  bottom: 0;
  left: 50%;
  width: 6.2rem;
  height: 6.2rem;
  border: 2px solid #c7c7c7;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.review__text {
  text-align: center; }

.review__raty {
  height: 1rem;
  margin: 1rem 0; }
  .review__raty img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 100%; }

.review__author-position {
  font-style: italic; }

.partners-list {
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset; }

.footer {
  padding: 3rem 0;
  color: inherit;
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-bottom-holder {
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

@media only screen and (max-width: 1200px) {
  html {
    font-size: 14px; }
  .section-container {
    width: 1005px; }
  .section_white {
    margin: 5rem 0; }
  .welcome {
    height: 100vh; }
    .welcome .section-container .welcome__title {
      width: 90%;
      margin: 7% 0 2rem;
      line-height: 120%; }
    .welcome .section-container .welcome__text {
      width: 70%; } }

@media only screen and (max-width: 768px) {
  html {
    font-size: 12px; }
  .section-container {
    width: 650px; }
  h1 {
    font-size: 3rem; }
  .nav-block {
    position: absolute;
    top: -130%;
    left: 50%;
    width: 25%;
    height: auto;
    margin-left: 0;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition: top 0.5s ease 0s;
    transition: top 0.5s ease 0s; }
    .nav-block .nav-list .nav-item {
      width: 100%;
      margin-bottom: 0.5rem;
      text-align: center;
      background-color: #fc6f4e;
      border-radius: none;
      -webkit-transition: color 0.5s ease 0s , background-color 0.5s ease 0s , -webkit-box-shadow 0.5s ease 0s;
      transition: color 0.5s ease 0s , background-color 0.5s ease 0s , -webkit-box-shadow 0.5s ease 0s;
      transition: color 0.5s ease 0s , background-color 0.5s ease 0s , box-shadow 0.5s ease 0s;
      transition: color 0.5s ease 0s , background-color 0.5s ease 0s , box-shadow 0.5s ease 0s , -webkit-box-shadow 0.5s ease 0s; }
      .nav-block .nav-list .nav-item:hover {
        color: #fc6f4e;
        background-color: white;
        -webkit-box-shadow: 0 0 0 3px #fc6f4e;
        box-shadow: 0 0 0 3px #fc6f4e; }
      .nav-block .nav-list .nav-item .nav-item__link {
        width: 100%; }
  .nav_active {
    top: 5.5rem;
    opacity: 1; }
  .menu-btn {
    display: block; }
  .welcome .section-container .welcome__title {
    width: 90%;
    margin: 10% 0 2rem;
    line-height: 120%; }
  .welcome .section-container .welcome__text {
    width: 70%; }
  .news__title {
    margin: 0.5rem 0; }
  .news-list {
    height: 40rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    .news-list .news-item {
      -webkit-box-pack: left;
      -ms-flex-pack: left;
      justify-content: left;
      max-width: 65%;
      height: 28%; }
      .news-list .news-item .news__text {
        max-width: 100%;
        padding-bottom: 0.5rem; }
      .news-list .news-item:first-child {
        width: 35%; }
      .news-list .news-item .news-img-holder_first {
        height: 47%; } }

@media only screen and (max-width: 576px) {
  .header__btn {
    width: 5rem; }
  .section-container {
    width: 80vw;
    padding-bottom: 2rem; }
  .blog__title-text {
    padding: 0 14%; }
  .location__text, .offers__text, .blog__title-text {
    padding: 0 10%; }
  .welcome {
    height: auto; }
  .location-list .location-item {
    max-width: 45%; }
    .location-list .location-item .location__link {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .location-list .location-item .location__link .location-img {
        max-width: 50%; }
      .location-list .location-item .location__link .location-information-holder {
        -webkit-box-shadow: none;
        box-shadow: none; }
  .news-list {
    height: auto; }
    .news-list .news-item {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      max-width: 100%;
      height: auto;
      margin-bottom: 2rem; }
    .news-list .news-item:first-child {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      margin-bottom: 2rem; }
      .news-list .news-item:first-child .news-img-holder_first {
        max-width: 50%;
        margin-right: 1.7rem; }
      .news-list .news-item:first-child .news-information-holder_first {
        max-width: 50%; }
      .news-list .news-item:first-child .news__text_first {
        padding: 0 1rem 1rem 0; }
  .footer {
    padding: 2rem 0; }
    .footer .footer-holder {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: unset;
      -webkit-box-direction: unset;
      -ms-flex-direction: unset;
      flex-direction: unset;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .footer .footer-holder .footer-block_left, .footer .footer-holder .subscribe-block {
        width: 100%;
        margin-bottom: 2rem; }
      .footer .footer-holder .footer-block_left {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .footer .footer-holder .footer-block_left .contact-block {
          margin-bottom: 2rem; }
          .footer .footer-holder .footer-block_left .contact-block .contact__text {
            max-width: 100%;
            margin-top: 1rem; }
        .footer .footer-holder .footer-block_left .footer-nav {
          width: 100%; }
      .footer .footer-holder .subscribe-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: unset;
        flex-wrap: unset;
        -webkit-box-orient: unset;
        -webkit-box-direction: unset;
        -ms-flex-direction: unset;
        flex-direction: unset;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .footer .footer-holder .subscribe-block .subscribe__title {
          margin-bottom: 0;
          font-size: 1rem; }
        .footer .footer-holder .subscribe-block .subscribe-form {
          width: 60%;
          padding-right: 0; } }

@media only screen and (max-width: 576px) {
  .nav_active {
    top: 7.7rem; }
  .offer-list .slick-dots {
    max-width: 50%; }
  .location-list .location-item {
    max-width: 100%; } }
