.review {
    &-item {
        height: 20rem;
        padding-bottom: 1rem;
        margin-right: 2rem;

        @include flex(unset,unset,unset,flex-end);
    }

    &-information-holder {
        position: relative;
        width: 100%;
        padding: 5.625rem 3.375rem 2.375rem;
        border: border(light-gray);

        @include flex(unset,column,unset,center);
        @include transition(box-shadow);

        &:hover {
            box-shadow: $materialBorder;
        }
    }

    &-img-holder {
        position: absolute;
        top: -3.1rem;
        right: 0;
		left: 50%;
		bottom: 0;
        z-index: 1;
        width: 6.2rem;
        height: 6.2rem;
        background-color: color(body-bg);
        border: border(light-gray);
        border-radius: 50%;
		transform: translateX(-50%);
    }

    &__text {
        text-align: center;
        max-width: 100%;
    }

    &__raty {
        height: 1rem;
        margin: 1rem 0;

        @include flex(unset,unset,center,center);

        img {
            object-fit: contain;
            height: 100%;
        }
    }

    &__author-position {
        font-style: italic;
    }
}

@media only screen and (max-width: 768px) {
    .review {
        &-item {
            height: 22rem;
        }
    }
}

@media only screen and (max-width: 480px) {
    .review {
        &-item {
            width: 34rem !important;
        }
    }
}

@media only screen and (max-width: 320px) {
    .review {
        &-item {
            width: 22rem !important;
        }
    }
}