.footer {
    padding: 3rem 0;
    color: color(footer-color);
    background: color(footer-bg);

    @include flex(unset, column, unset, center);

    &-bottom-holder {
        margin-top: 3rem;

        @include flex(wrap, unset, center, center);
    }
}

@media only screen and (max-width: 320px) {
    .footer {
        &-bottom-holder {
            margin: 1rem 0;
        }

        &__text {
            margin-top: 1rem;
        }
    }
}
