.footer {
    min-height: 21.75rem;
    padding: 7.8rem 0;
    color: color(footer-color);
    background: color(footer-bg);

    .footer-holder {
        @include flex(unset, unset, space-between, flex-start);

        .footer-block_left {
            width: 68.3%;

            @include flex(unset, unset, space-between, flex-start);

            .contact-block {
                min-width: 30%;
                height: 100%;

                .contact__text {
                    max-width: 80%;
                    margin-top: 2.5rem;
                    line-height: 205%;
                    letter-spacing: 1px;
                }
            }

            .footer-nav {
                width: 63%;
                height: 13.5rem;

                @include flex(wrap,column,left,flex-start);

                .footer-nav-item {
                    height: 20%;
                    font-weight: 500;
                    line-height: 150%;
                    letter-spacing: 1px;

                    // .footer-nav-item__link {
                    //     @include transition(box-shadow);

                    //     &:hover {
                    //         box-shadow: $redUnderline;
                    //     }
                    // }
                }
            }
        }

        .subscribe-block {
            width: 31.7%;

            .subscribe__title {
                margin-bottom: 3rem;
                font-size: 1.25rem;
                font-weight: 500;
                letter-spacing: 0.06em;
            }

            .subscribe-form {
                padding-right: 2rem;

                @include flex(unset, unset, space-between, flex-start);
            }
        }
    }
}
