.footer {
    padding: 3rem 0;
    color: color(footer-color);
    background: color(footer-bg);

    @include flex(unset, column, unset, center);

    &-bottom-holder {
        margin-top: 3rem;

        @include flex(unset, unset, unset, center);
    }
}
