
.btn {
	border: border(light-gray);
	border-radius: 3.5rem;
	padding: 1rem;
	color: color(btn-color);
	background-color: color(btn-bg);
	width: 15rem;

	@include transition(box-shadow);

	&:hover {
		box-shadow: $materialBorder;
	}

	&_form {
		width: 78%;
		margin: 0 auto;
		padding: 1rem;
		text-align: center;
		border: none;
		border-radius: 3.5rem;
		background-color: color(btn-input-bg);
		color: color(btn-input-color);

		@include flex(null,unset,center,center);
		@include transition(background-color);

		.fas {
			margin-left: 1rem;
		}

		&:hover {
			background-color: lighten($color: color(btn-input-bg), $amount: 10%);
		}
	}

	&_process {
		position: absolute;
		bottom: -1.75rem;
		left: 50%;
		right: 0;
		transform: translateX(-50%);
		width: 86%;

		@extend .btn;
	}

	&_menu {
		position: relative;
		width: 2rem;
		z-index: 3;
		display: block;
		height: 2rem;

		span {
			position: absolute;
			top: 50%;
			margin-top: -6px;
			width: 100%;
			height: 4px;
			background-color: color(burger-bg);
			
			@include transition(background-color);

			&::before {
				position: absolute;
				top: 50%;
				margin-top: -5px;
				width: 100%;
				height: 4px;
				background-color: color(burger-bg);
				content: '';
				display: block;
				transition: 0.2s;
				transform: translateY(-5px);
			}

			&::after {
				position: absolute;
				top: 50%;
				// margin-top: 0;
				width: 100%;
				height: 4px;
				background-color: color(burger-bg);
				content: '';
				display: block;
				transition: 0.2s;
				transform: translateY(5px);
			}
		}

		&:hover {
			span, span::before, span::after {
				background-color: color(burger-bg_hovered);
			}
		}

		&_active {
			span {
				height: 0;

				&:before, &:after {
					margin-top: 0;
					transform-origin: center;
				}

				&:before {
					transform: rotate(-45deg);
				}

				&:after {
					transform: rotate(45deg);
				}
			}
		}
	}
}

.form_contact {
	width: 23.3125rem;
	background-color: color(contact-form-bg);
	padding: 2rem;
	box-shadow: $materialBorder;

}

.input {
	&_custom{
		width: 100%;
		border: none;
		border-bottom: border(light-gray);
		padding-top: 3rem;

		@include transition(box-shadow);

		&:hover {
			box-shadow: $materialBorder;
		}
	}
}

.textarea_custom {
	height: 7rem;
	margin-bottom: 1rem;
	padding-top: 1rem;
}

@media only screen and (max-width: 480px) {
	.form_contact {
		margin: 0 auto;
	}
}
