
.btn {
	border: border(light-gray);
	border-radius: 3.5rem;
	padding: 1rem;
	color: color(btn-color);
	background-color: color(btn-bg);

	@include transition(box-shadow);

	&:hover {
		box-shadow: $materialBorder;
	}

	&_process {
		position: absolute;
		bottom: -1.75rem;
		left: 50%;
		right: 0;
		transform: translateX(-50%);
		width: 86%;

		@extend .btn;
	}

	&_menu {
		position: relative;
		width: 50px;
		z-index: 3;
		display: block;
		height: 50px;

		span {
			position: absolute;
			top: 50%;
			margin-top: -5px;
			width: 100%;
			height: 5px;
			background-color: color(burger-bg);
			
			@include transition(background-color);

			&::before {
				position: absolute;
				top: 50%;
				margin-top: -5px;
				width: 100%;
				height: 5px;
				background-color: color(burger-bg);
				content: '';
				display: block;
				transition: 0.2s;
				transform: translateY(-10px);
			}

			&::after {
				position: absolute;
				top: 50%;
				width: 100%;
				height: 4px;
				background-color: color(burger-bg);
				content: '';
				display: block;
				transition: 0.2s;
				transform: translateY(10px);
			}
		}

		&:hover {
			span, span::before, span::after {
				background-color: color(burger-bg_hovered);
			}
		}

		&_active {
			span {
				height: 0;

				&:before {
					margin-top: 0;
					transform: rotate(-45deg);
					transform-origin: center;
				}

				&:after {
					transform: rotate(45deg);
					transform-origin: center;
				}
			}
		}
	}

	&_form {
		width: 88%;
		margin: 0 auto;
		padding: 1rem;
		text-align: center;
		border: none;
		border-radius: 3.5rem;
		background-color: color(btn-input-bg);
		color: color(btn-input-color);

		@include flex(null,unset,center,center);

		.fas {
			margin-left: 1rem;
		}
	}
}

.form_contact {
	width: 23.3125rem;
	background-color: color(contact-form-bg);
	padding: 1rem 2rem;
	box-shadow: $materialBorder;

}

.input {
	&_custom{
		width: 100%;
		border: none;
		border-bottom: border(light-gray);
		padding-top: 2rem;
	}
}

.textarea_custom {
	height: 7rem;
	margin-bottom: 1rem;
}

// .btn {
// 	color: color(btn-color);
// 	background-color: color(btn-bg);
//     border: none;
//     border-radius: 5px;
// 	text-align: center;
// 	vertical-align: middle;
// 	line-height: 1.5;

//     @include transition(background-color);

//     &:hover {
//         background-color: darken(color(btn-bg), 10%);
//     }
// }

// .header__btn {
//     width: 10.1875rem;
//     min-height: 3.1875rem;
// }

// .welcome__btn {
//     width: 11.6875rem;
//     min-height: 3.6875rem;
// }

// .footer__btn {
// 	width: 6.4375rem;
// 	min-height: 2.75rem;
// }

// .subscribe__input {
// 	width: 12.1875rem;
// 	min-height: 2.75rem;
// 	padding: 0.6rem 1rem;
// 	border: 1px solid #f5f5f5;
// 	border-radius: 5px;

// 	&:focus, &:hover {
//         border-color: $red;
//     }
// }
