.process {
    &-list {
        @include flex(wrap,unset,space-between,unset);
    }

    &-item {
        position: relative;
        width: block-width(4);
        padding: 3rem 2rem;
        color: color(process-item-color);

        @include flex(unset,column,flex-start,center);

        .fas {
            font-size: 3rem;
        }
    }

    &__title {
        padding-top: 1rem;
    }
}

@for $i from 1 through 4 {
    .process-item_#{$i} {
        background-color: color(process-bg_#{$i});

        @extend .process-item;
    }
}

@media only screen and (max-width: 768px) {
    .process {
        &-item {
            width: block-width(2);
            padding: 3rem;
            margin-bottom: 3rem;
        }
    }
}

@media only screen and (max-width: 320px) {
    .process {
        &-item {
            width: 100%;
        }
    }
}
