.services {
    &-item {
        width: 6.125rem;
        height: 5.8125rem;
        margin-bottom: 0.5rem;
        background-color: color(section-bg);

        @include flex(unset,unset,center,center);
        @include transition(box-shadow);

        &:hover {
            box-shadow: $materialBorder;
        }
    }

    &-description {
        &-holder {
            padding: 0 6.125rem 0 7.875rem;
        }

        &__title {
            position: relative;
            padding-bottom: 0.5rem;
            margin-bottom: 2rem;

            &::after {
                position: absolute;
                top: 100%;
                right: 0;
                bottom: 0;
                left: 0;
                width: 10%;
                height: 4px;
                content: '';
                background-color: $orange;
            }
        }

        &__text {
            margin-bottom: 2rem;
            line-height: 1.5;
        }
    }

    &-img-holder {
        height: 100%;

        @include flex(unset,unset,center,center);
    }
}

@media only screen and (max-width: 768px) {
    .services {
        &-description {
            &-holder {
                width: 50%;
                padding: 0 3rem;
            }
        }

        &-img-holder {
            width: 35%;
        }
    }
}

@media only screen and (max-width: 480px) {
    .services {
        &-description {
            &-holder {
                width: 100%;
                padding: 0 1rem;
            }
        }

        &-img-holder {
            display: none;
        }
    }
}
