.social {
    &-list {
        margin-top: 1.5rem;
        @include flex(unset, unset, left, unset);
    }
    &-item {
        width: 1.3rem;
        height: 1.3rem;
        margin-right: 1.6rem;
        font-size: 0.8rem;
        color: color(social-color);
        border-radius: 3px;
        @include flex(unset, unset, center, center);
        @include transition(box-shadow);
        &:hover {
            box-shadow: 0 1px 4px black;
        }
    }
    &-link {
        width: 100%;
        height: 100%;
        @include flex(unset, unset, center, center);
    }
}

.background_colored {
	@each $social, $color in $socialColors {
		&-#{$color} {
			background-color: $color;
		}
	}
}
