.social {
    &-list {
        @include flex(unset, unset, left, unset);
    }
    &-item {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        color: color(social-color);
        background-color: color(social-bg);
        border-radius: 50%;

        @include flex(unset, unset, center, center);
        @include transition(background-color);

        &:hover {
            background-color: $orange;
        }
    }

    &-link {
        width: 100%;
        height: 100%;

        @include flex(unset, unset, center, center);
    }
}
