/* Slider styles */

.slick {
    &-slider {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        min-width: 0;
        -webkit-touch-callout: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    &-track, &-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    &-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        font-size: 1.25rem;
        font-weight: bold;

        button {
            width: 1.25rem;
            height: 5px;
            font-size: 0;
            border: none;
            border-radius: 5px;

            @include transition(background-color);
        }

        li {
            margin: 0 5px;
            list-style: none;
        }

        button:hover, .slick-active button {
            background-color: $orange;
        }
    }

    &-list {
        position: relative;
        display: block;
        overflow: hidden;

        &:focus {
            outline: none;
        }

        &.dragging {
            cursor: pointer;
        }
    }

    &-track {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        width: 9999px !important;
        margin-right: auto;
        margin-left: auto;

        &::before, &::after {
            display: table;
            content: "";
        }

        &::after {
            clear: both;
        }

        .slick-loading & {
            visibility: hidden;
        }
    }

    &-slide {
        float: left;
        text-align: left;

        [dir="rtl"] & {
            float: right;
        }

        &.slick-loading img {
            display: none;
        }

        &.dragging img {
            pointer-events: none;
        }

        .slick-initialized {
            display: block;
        }

        .slick-loading & {
            visibility: hidden;
        }

        .slick-vertical & {
            display: block;
            height: auto;
            border: 1px solid transparent;
        }
    }

    &-arrow {
        position: absolute;
        top: 50%;
        z-index: 100;
        width: 3rem;
        height: 3rem;
        padding: 0;
        cursor: pointer;
        background-color: color(body-bg);
        border: none;
        border-radius: 50%;
        outline: none;
        box-shadow: $materialBorder;
        transform: translate(0, -50%);


        @include transition(color background-color);

        &:hover, &:focus {
            color: color(btn-input-color);
            background-color: $orange;
            outline: none;
        }

        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: font(awesome);
            font-weight: 900;
        }
    }

    &-prev {
        left: -1.75rem;

        &::after {
            content: "\f053";
        }
    }

    &-next {
        right: -1.75rem;

        &::after {
            content: "\f054";
        }
    }

    &-prev_related {
        right: 5rem;
    }

    &-next_related {
        right: 2.25rem;
    }
}
