.section_gray
    .section-width-holder
        ul.partners-list 
            - for (var p=1;p<7;p++)
                li.partners-item
                    a.partners-link(href=`partners${p}.html`)
                        img.partners__img(src=`images/partner${p}.png` alt=`partner${p}`)