doctype html
html(lang='en')
  head
    include head.pug    
  body
    include 1welcome
    include 2process
    include 3works
    include 4services
    include 5team
    include 6clients
    include 7partners
    include social-media
    include footer
    script(src='js/jquery-3.6.0.min.js')
    script(src='js/slick.min.js')
    script(src='js/raty.js')
    script(src='js/functions.js')